[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
pyyaml = "*"
requests = "*"
beautifulsoup4 = "*"
pytest = "*"
slovnet = "*"
pymorphy2 = "*"
natasha = "*"
loguru = "*"
pandas = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
