anyio==3.4.0
appdirs==1.4.4
asgiref==3.4.1
attrs==21.2.0
beautifulsoup4==4.10.0
black==21.7b0
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
coverage==5.5
DAWG-Python==0.7.2
docopt==0.6.2
fastapi==0.70.0
feedparser==6.0.8
h11==0.12.0
idna==3.3
iniconfig==1.1.1
intervaltree==3.1.0
ipymarkup==0.9.0
loguru==0.5.3
mypy-extensions==0.4.3
natasha==1.4.0
navec==0.10.0
numpy==1.21.4
packaging==21.3
pandas==1.3.4
pathspec==0.8.1
pluggy==1.0.0
py==1.11.0
pydantic==1.8.2
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
razdel==0.5.0
regex==2021.7.6
requests==2.26.0
sgmllib3k==1.0.0
six==1.16.0
slovnet==0.5.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
starlette==0.16.0
toml==0.10.2
tomli==1.0.4
typing-extensions==4.0.0
urllib3==1.26.7
uvicorn==0.15.0
yargy==0.15.0
